description = "Default"
==
<html lang="en">

<head>
  <meta charset="utf-8" />
  

    <title>abc</title>

  
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="./assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="{{ 'assets/css/bootstrap.min.css'|theme }}" rel="stylesheet" />
  <link href="{{ 'assets/css/now-ui-kit.css?v=1.3.0'|theme }}" rel="stylesheet" />
  <link href="{{ 'assets/css/now-ui-kit.min.css?v=1.3.0'|theme }}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{{ 'assets/demo/demo.css'|theme }}" rel="stylesheet" />
  
  {% styles %}
</head>

<body class="sections-page sidebar-collapse">
  {% partial 'nav' %}

  <!-- End Navbar -->

         {% page %}
    

    <!-- End footer -->

  <!--   Core JS Files   -->
  {% partial "site/script" %}
  
  {% framework extras %}
  {% scripts %}
</body>

</html>