title = "home"
url = "/"
layout = "MainLayout"
is_hidden = 0
==
<div class="page-header page-header-small">
        <div class="page-header-image" style="filter: brightness(80%);background-image: url({{ 'assets/img/banner.jpg'|theme }});"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-7 ml-auto text-right">
                    <h1 class="title">History of surfing</h1>
                    <h4 class="description">The riding of waves has likely existed since humans began swimming in the ocean. In this sense, bodysurfing is the oldest type of wave-catching. Standing up on what is now called a surfboard is a relatively recent innovation developed by the Polynesians.</h4>
                    <br>

                    <div class="buttons">
                        <a href="#pablo" class="btn btn-icon btn-link btn-neutral btn-lg">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#pablo" class="btn btn-icon btn-link btn-neutral btn-lg">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a href="#pablo" class="btn btn-icon btn-link btn-neutral btn-lg">
                            <i class="fab fa-get-pocket"></i>
                        </a>
                        <a href="#pablo" class="btn btn-info btn-lg mr-3">
                            Read More
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
      <!--     section 2     -->
    <div class="features-1">

            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">RARE GIFTS FOR YOUR FAVOURITE PEOPLE</h2>
                    <h4 class="description">Look for further than these exquisite items, powered by STREES LUXURY's unrivaled designer network</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 mr-auto ml-auto">
                <div class="card-background" style="min-height:500px;background-image: url({{ 'assets/img/banner1.jpg'|theme }})">
                    <div class="card-body">


                    </div>
                </div>
            </div>

                <div class="col-md-5 mr-auto ml-auto">
                <div class="card-background" style="min-height:500px;background-image: url({{ 'assets/img/banner2.webp'|theme }})">
                    <div class="card-body">


                    </div>
                </div>
                    
                

                </div>

            </div>
    </div>
    
    <!--     section 3     -->
    <div class="features-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">New in: hand-picked daily from the world’s best brands and boutiques</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="card card-product card-plain">
                                 <div class="card-image" style="height:250px;">
                                     <a href="#">
                                         <img src="{{ 'assets/img/shirt1.jpg'|theme }}" alt="...">
                                     </a>
                                 </div>
                                 <div class="card-body">
                                     <a href="#">
                                         <h4 class="card-title">Polo Ralph Lauren</h4>
                                     </a>
                                     <p class="card-description">
                                        Impeccably tailored in Italy from lightweight navy wool.
                                     </p>
                                     <div class="card-footer">
                                         <div class="price-container">
                                            <span class="price"> € 300</span>
                                         </div>

                                         <button class="btn btn-danger btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Remove from wishlist">
                                             <i class="now-ui-icons ui-2_favourite-28"></i>
                                         </button>
                                     </div>
                                 </div>
                             </div>

                </div>

                <div class="col-md-3">
                    <div class="card card-product card-plain">
                                 <div class="card-image" style="height:250px;">
                                     <a href="#">
                                         <img src="{{ 'assets/img/shirt2.jpg'|theme }}" alt="...">
                                     </a>
                                 </div>
                                 <div class="card-body">
                                     <a href="#">
                                         <h4 class="card-title">Polo Ralph Lauren</h4>
                                     </a>
                                     <p class="card-description">
                                        Impeccably tailored in Italy from lightweight navy wool.
                                     </p>
                                     <div class="card-footer">
                                         <div class="price-container">
                                            <span class="price"> € 300</span>
                                         </div>

                                         <button class="btn btn-danger btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Remove from wishlist">
                                             <i class="now-ui-icons ui-2_favourite-28"></i>
                                         </button>
                                     </div>
                                 </div>
                             </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-product card-plain">
                                 <div class="card-image" style="height:250px;">
                                     <a href="#">
                                         <img src="{{ 'assets/img/shirt3.jpg'|theme }}" alt="...">
                                     </a>
                                 </div>
                                 <div class="card-body">
                                     <a href="#">
                                         <h4 class="card-title">Polo Ralph Lauren</h4>
                                     </a>
                                     <p class="card-description">
                                        Impeccably tailored in Italy from lightweight navy wool.
                                     </p>
                                     <div class="card-footer">
                                         <div class="price-container">
                                            <span class="price"> € 300</span>
                                         </div>

                                         <button class="btn btn-danger btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Remove from wishlist">
                                             <i class="now-ui-icons ui-2_favourite-28"></i>
                                         </button>
                                     </div>
                                 </div>
                             </div>
                </div>
                
                <div class="col-md-3">
                    <div class="card card-product card-plain">
                                 <div class="card-image" style="height:250px;">
                                     <a href="#">
                                         <img src="{{ 'assets/img/shirt4.jpg'|theme }}" alt="...">
                                     </a>
                                 </div>
                                 <div class="card-body">
                                     <a href="#">
                                         <h4 class="card-title">Polo Ralph Lauren</h4>
                                     </a>
                                     <p class="card-description">
                                        Impeccably tailored in Italy from lightweight navy wool.
                                     </p>
                                     <div class="card-footer">
                                         <div class="price-container">
                                            <span class="price"> € 300</span>
                                         </div>

                                         <button class="btn btn-danger btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Remove from wishlist">
                                             <i class="now-ui-icons ui-2_favourite-28"></i>
                                         </button>
                                     </div>
                                 </div>
                             </div>
                </div>
                
            </div>
        </div>
    </div>